.logo {
    height: 75px;
    width: 75px;
    background-color: grey;
    border-radius: 50%;
    background-image: url(https://img.freepik.com/foto-premium/rantai-realistis-3d-atau-ilustrasi-3d-ikon-tautan_394271-4494.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: revert;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}